body{
    font-family: arial, helvetica;
    background: white;
    text-transform: capitalize;
}
/*Creación de Menu */
.menu{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    transition: 0.7s;


    list-style: none;
    padding: 0;
    background: #17323b;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #26A69A;
}

.item-r{
    float: right;
}
/*presentacion de imagenes*/

.slide {
    
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.564);
    margin-top: 66px;
}
.slide-inner {
    
    overflow: hidden;
    width: 100%;
    height: calc( 350px + .6em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 1000;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity .1s ease-out;
}

.slide-control {
    background: rgba(0, 0, 0, 0.58);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 250px;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa  ;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 360px;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #a6c5c3;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #53dbdb;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #26A69A;
}

.img02{
    width: 100%;
    margin: 3px;
    display: flex;
    height: 353px;
    max-width: 100%;
}

/*Estilo de titulo H1*/

.h1{
    color: #263238;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

/*Estilo de titulo H2*/

.h2{
    color: #263238;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

